*.pyc
*.py~
*.comp.js
*.DS_Store
locale
.wnf-lang-status
*.swp
*.egg-info
dist/
# build/
.vscode
.vs
node_modules
.kdev4/
*.kdev4
*debug.log
insights/docs/current
insights/public/frontend
insights/www/insights.html
.nyc_output
coverage/