*.pyc
*.py~
*.comp.js
*.DS_Store
locale
.wnf-lang-status
*.swp
*.egg-info
dist/
# build/
.vscode
.vs
node_modules
.kdev4/
*.kdev4
*debug.log
analytics/docs/current
analytics/public/frontend
analytics/www/analytics.html