include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include insights *.css
recursive-include insights *.csv
recursive-include insights *.html
recursive-include insights *.ico
recursive-include insights *.js
recursive-include insights *.json
recursive-include insights *.md
recursive-include insights *.png
recursive-include insights *.py
recursive-include insights *.svg
recursive-include insights *.txt
recursive-exclude insights *.pyc