@import './assets/Inter/inter.css';
@import './assets/FiraCode/fira_code.css';
@import 'frappe-ui/src/style.css';

.dataframe th {
	@apply whitespace-nowrap border-b border-r bg-gray-50 px-4 py-2 text-left text-sm font-medium text-gray-700;
}
.dataframe td {
	@apply whitespace-nowrap border-b border-r bg-white px-4 py-2 text-right text-sm text-gray-700;
}
.dataframe tr > th:first-child {
	@apply sticky left-0;
}

.font-code {
	font-family: 'Fira Code' !important;
}

/* Code Control */

.cm-gutters {
	display: none !important;
}
.cm-editor {
	height: 100%;
	width: 100%;
	border-radius: 0.375rem;
	padding: 0.5rem;
	user-select: text;
	@apply bg-gray-100;
}

.cm-placeholder {
	color: theme('colors.gray.600') !important;
}
.cm-content {
	padding: 0px !important;
}
.cm-activeLine {
	background-color: transparent !important;
}
.cm-scroller {
	font-family: 'Fira Code' !important;
	line-height: 1.5rem !important;
	color: theme('colors.gray.600') !important;
}
.cm-matchingBracket {
	font-weight: 500 !important;
	background: none !important;
	border-bottom: 1px solid #000 !important;
	outline: none !important;
}
.cm-focused {
	outline: none !important;
}
.cm-tooltip-autocomplete {
	border: 1px solid #fafafa !important;
	padding: 0.25rem;
	background-color: #fff !important;
	border-radius: 0.375rem;
	filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}
.cm-tooltip-autocomplete > ul {
	font-family: 'Inter' !important;
}
.cm-tooltip-autocomplete ul li[aria-selected='true'] {
	border-radius: 0.25rem /* 4px */ !important;
	background-color: rgb(226 232 240 / 0.8) !important;
	color: #000 !important;
}

@layer components {
	/* Works on Firefox */
	* {
		scrollbar-width: thin;
		scrollbar-color: #c0c6cc #ebeef0;
	}

	html {
		scrollbar-width: auto;
	}

	/* Works on Chrome, Edge, and Safari */
	*::-webkit-scrollbar-thumb {
		background: #e2e8f0;
		border-radius: 6px;
	}

	*::-webkit-scrollbar-track,
	*::-webkit-scrollbar-corner {
		background: #f8fafc;
	}

	*::-webkit-scrollbar {
		width: 0px;
		height: 6px;
	}

	body::-webkit-scrollbar {
		width: 0px;
		height: 12px;
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.custom-prose {
	@apply prose-h1:font-semibold prose-h1:mt-5 prose-h1:mb-3 prose-h2:font-semibold prose-h2:mt-4 prose-h2:mb-2 prose-p:my-0 prose-p:py-1 prose-p:text-[16px] prose-p:leading-6 prose-code:before:content-[''] prose-code:after:content-[''] prose-ul:my-0 prose-ol:my-0 prose-li:my-0 prose-th:py-1 prose-td:py-1 prose-blockquote:my-3;

}

/* Placeholder */
.custom-prose [data-placeholder].is-empty::before {
	content: attr(data-placeholder);
	float: left;
	pointer-events: none;
	height: 0;
	align-self: center;
	font-size: inherit;
	@apply absolute text-gray-300;
}

.custom-prose :where(blockquote p:first-of-type):not(:where([class~='not-prose'] *)) {
	&::before {
		content: '';
	}
	&::after {
		content: '';
	}
}

.custom-prose :where(code):not(:where([class~='not-prose'] *)) {
	@apply rounded bg-gray-100 px-1.5 py-1 text-gray-700;
}

.custom-prose :where(pre):not(:where([class~='not-prose'] *)) {
	@apply bg-gray-100 text-gray-800;
}

.custom-prose table p {
	@apply text-base;
}
